---
import type { Hero as Props } from '~/types';
import Button from '~/components/ui/Button.astro';

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  actions = await Astro.slots.render('actions'),
  image = await Astro.slots.render('image'),
} = Astro.props;
---

<div class="@container">
    <div class="@[480px]:p-4 md:pt-6">
        <div
            class="flex min-h-[420px] md:min-h-[500px] flex-col gap-6 bg-cover bg-center bg-no-repeat @[480px]:gap-8 @[480px]:rounded-xl items-center justify-center p-6 md:p-10"
            style='background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.4) 100%), url("https://lh3.googleusercontent.com/aida-public/AB6AXuAHQaiQnGckKD-JfK7OpHSMdj14uBHEsf5glD8CjtMJtkLmO2Ocj5BN4xcDWhRX1uFNjHAp8pO-Mag4zHlGPSrH-7ZD6Yr_d0RfwHZZR158F2dxkw7GuJHJYdkA-suEl1GDNSK_i1BuFCILgNJ21EgBr27r1c48Vhvg1rqvyi01gAbSlVsJdj_Wg1kDFz7_F9CA2kws28KV_ZPKzDKKeFgFBAKhsKgqKMMRUqL0YvKx6jwja2nfe58vVJTgi3Xz28x4LvNBw1GehDk");'
        >
            <div class="flex flex-col gap-3 text-center max-w-4xl">
                {
                    title && (
                        <h1
                            class="text-white text-4xl font-black leading-tight tracking-[-0.025em] @[480px]:text-5xl @[480px]:font-black @[480px]:leading-tight @[480px]:tracking-[-0.033em]"
                            set:html={title}
                        />
                    )
                }
                {
                    subtitle && (
                        <h2 class="text-white/90 text-sm md:text-base font-medium leading-relaxed" set:html={subtitle}/>
                    )
                }
            </div>
            {
                actions && (
                    <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-4">
                        {Array.isArray(actions) ? (
                            actions.map((action) => (
                                <div class="flex w-full sm:w-auto">
                                    <Button {...(action || {})} class="w-full sm:mb-0" />
                                </div>
                            ))
                        ) : (
                            <Fragment set:html={actions} />
                        )}
                    </div>
                )
            }
        </div>
    </div>
</div>
